page-myDay {
ion-content {
margin-top: 0px; 
}
.Row {
    display: table;
    width: 100%; /*Optional*/
}

.Column
{
    display: table-cell;
}

// .card {
//     background: linear-gradient(120deg, rgb(52, 90, 146), rgb(40, 98, 235));
//     border-radius: 20px;
//   }
//   ion-card-content {
//     background-color: white;
//   }
//   .movie-card {
//     background: white;
// }
// .content {
//    // background-color: rgb(201, 250, 228)
//    background: linear-gradient(120deg, rgba(223, 223, 223, 0.473), rgb(223, 223, 223));

// }

// .toolbar-background {
//     background: linear-gradient(120deg, rgb(105, 209, 201), rgb(40, 131, 63));
// }

// .toolbar-title-md {
//     color: white 
// }

}
