page-home {
    .Row {
        display: table;
        width: 100%; /*Optional*/
    }
    
    .Column
    {
        display: table-cell;
    }

    img.img-centered {
        margin: auto; 
        align-items: center;
        display: block;
        width: 80%
      }
}
