page-home {
    .Row {
        display: table;
        width: 100%; /*Optional*/
    }
    
    .Column
    {
        display: table-cell;
    }

    img.img-centered {
        margin: auto; 
        align-items: center;
        display: block;
      }

      .toolbar-background {
        background: linear-gradient(120deg, rgb(105, 209, 201), rgb(40, 131, 63));
    }
    .toolbar-title-md {
        color: white 
    }

    
}
