<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
    </ion-buttons>
    <ion-title>Wie nutze ich heMIgrania?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header text-center (click)="showText()">
      <h2 text-wrap style="font-weight: bold; color: white">Was sehe ich auf der Startseite?</h2>
    </ion-card-header>
    <ion-card-content style="font-size: 16px" text-wrap *ngIf="selectedCard">
      Die Startseite dient als Willkommensseite. Du kannst hier das App Logo ansehen sowie auch wie man heMIgrania zu bedienen hat. Hier wird aufgelistet was man in den verschiedenen Views ansehen und machen kann. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center (click)="showText2()">
      <h2 text-wrap style="font-weight: bold; color: white">Was kann ich im Bereich <br /> "Mein Tag" machen?</h2>
    </ion-card-header>
    <ion-card-content style="font-size: 16px" text-wrap *ngIf="selectedCard2">
      Dieser Bereich dient dir für deine tägliche Erfassung. Damit der Arzt eine passende Diagnose stellen kann,
      braucht er deine täglichen Aufzeichnungen im Bezug zu deinem Schlaf- und Essverhalten. Indem du auch deine
      gemachten Übungen aufzeichnest, kann der Arzt sehen, ob dir bestimmte Übungen besonders helfen. Es ist sehr
      wichtig, dass du möglichst jeden Tag aufzeichnest. Denn je mehr Informationen du für deinen Arzt sammelst, desto
      genauer kann er dir eine Diagnose geben. Aber Achtung, du kannst nur einmal pro 24h einen Eintrag erfassen.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center (click)="showText3()">
      <h2 text-wrap style="font-weight: bold; color: white">Was kann ich im Bereich <br /> "Neuer Eintrag" machen?</h2>
    </ion-card-header>
    <ion-card-content style="font-size: 16px" text-wrap *ngIf="selectedCard3">
      Hier zeichnest du deine Migräneanfälle auf. Jedes Mal, wenn du einen neuen Anfall hattest, kannst du ihn in
      diesem Bereich erfassen. Für deinen Arzt sind verschiedene Angaben interessant. In dieser App wurden
      Informationstypen festgelegt. Diese sind:
      <br />
      • Symptome (Deine Symptome während des Anfalls) <br />

      • Schmerzareal (Wo tut es dir weh?)<br />

      • Auslöser (Was denkst du, war der Auslöser des Anfalls?<br />

      • Schmerzdauer und Intensität<br />

      • Schmerzart (Wie genau tut es mir weh?)<br />

      • Medikamente (Hier kannst du per Barcode Scan der Medikamentenschachtel, dass Medikament hinzufügen)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center (click)="showText4()">
      <h2 text-wrap style="font-weight: bold; color: white"> Was kann ich auf der Menüliste sehen?</h2>
    </ion-card-header>
    <ion-card-content style="font-size: 16px" text-wrap *ngIf="selectedCard4">
      Hier kannst du weitere Features von heMIgrania nutzen. Du kannst mit einem Klick auf "MIDATA Benutzerkonto" in
      deinen MIDATA Account einloggen. Mit einem Klick auf "Meine Diagnosen" kannst du deine Diagnosen erfassen, welche
      bisher bei dir diagnositziert worden sind. Indem du auf "Erinnerung" drückst, kannst du einen täglichen
      Pushreminder setzen, der dich daran erinnert, einen neuen Eintrag bei heMIgrania zu erfassen. Je mehr Einträge du
      machst, desto bessere und qualitativere Diagnosen kann dein Arzt stellen.
    </ion-card-content>
  </ion-card>



</ion-content>
