page-newAttack {
.Row {
    display: table;
    width: 100%; /*Optional*/
}

.Column
{
    display: table-cell;
}

.card {
    background-color: #4261eb
  }

  .toolbar-background {
    background: linear-gradient(120deg, rgb(105, 209, 201), rgb(40, 131, 63));
}
.toolbar-title-md {
    color: white 
}

}
