page-entspannungsUebungen {
    ion-content {
        margin-top: 25px; 
    }
    ion-title {
        position: absolute;
        top: 1px; 
        padding: 0 5px 1px;
        width: 60%;
        height: 100%;
      }

      
      
}
